@model List<CentroAcademicoSQLite.Models.Cita>

<h2>Alumnos Atendidos</h2>

<table class="table table-striped">

<thead>

<tr>
<th>Alumno</th>
<th>Fecha</th>
<th>Profesional</th>
<th>Expediente</th>
</tr>

</thead>

<tbody>

@foreach(var c in Model)
{

<tr>

<td>@c.Usuario?.Nombre @c.Usuario?.Apellidos</td>

<td>@c.FechaHora</td>

<td>@c.Profesional</td>

<td>

<a asp-controller="UserManagement"
asp-action="Expediente"
asp-route-id="@c.UsuarioId"
class="btn btn-info">

Ver Expediente

</a>

</td>

</tr>

}

</tbody>

</table>