@model List<CentroAcademicoSQLite.Models.ApplicationUser>

<h2>Lista de Alumnos</h2>

@if(Model == null || !Model.Any())
{
<p>No hay alumnos registrados.</p>
}
else
{

<table class="table table-striped">

<thead>
<tr>
<th>Nombre</th>
<th>Email</th>
<th>Matrícula</th>
<th>Estatus</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>

@foreach(var item in Model)
{
<tr>

<td>@item.Nombre @item.Apellidos</td>

<td>@item.Email</td>

<td>@item.Matricula</td>

<td>
@if(item.Activo  == true)
{
<span class="badge bg-success">Activo</span>
}
else
{
<span class="badge bg-danger">Inactivo</span>
}
</td>
<a asp-action="ExpedientePDF"
asp-route-id="@item.Id"
class="btn btn-secondary btn-sm">

PDF

</a>
<td>

<a asp-action="Edit" asp-route-id="@item.Id"
class="btn btn-primary btn-sm">
Editar
</a>

<a asp-controller="UserManagement"
asp-action="Expediente"
asp-route-id="@item.Id"
class="btn btn-info btn-sm">
Expediente
</a>

<form asp-action="Desactivar" method="post" style="display:inline">
<input type="hidden" name="id" value="@item.Id"/>
<button class="btn btn-warning btn-sm">
Desactivar
</button>
</form>

<form asp-action="Activar" method="post" style="display:inline">
<input type="hidden" name="id" value="@item.Id"/>
<button class="btn btn-success btn-sm">
Activar
</button>
</form>

<form asp-action="Delete" method="post" style="display:inline">
<input type="hidden" name="id" value="@item.Id"/>
<button class="btn btn-danger btn-sm">
Eliminar
</button>
</form>

</td>

</tr>
}

</tbody>
</table>

}